
    body {
      background-color: #cde4de; /* cor do fundo suave*/
      font-family: Helvetica, sans-serif
      margin: 40px;
    }

    h1 {
      color: #00323D; /* cor do titulo*/
      text-align: center;
    }

    p {
      font-size: 18px;
      text-align: justify;
    }

    ul {
      padding-left: 20px;
      line-height: 2;
    }

    img {
      width: 500px;
      border-radius: 10px;
      display: block;
      margin: 20px 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    table, th, td {
      border: 10px solid #135a8972;
    }

    td {
      padding: 10px;
      text-align: center;
    }

    a {
      color: #1e90ff;
      text-decoration: none;
    }

    a:hover {
      color: #ff4500;
    }

    button {
      margin-top: 10px;
      padding: 15px 650px;
      font-size: 14px;
      background-color: #18914c;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #mensagem {
      margin-top: 15px;
      font-weight: bold;
      color: #093944;
    }
